{% extends "base.html" %}
{% block title %}
    Авторизация
{% endblock %}
{% block content %}
<div class="hat">Авторизация пользователя</div>
<table align="center">
    <tr>
        <td align="center">
            {% if form.errors %}
            <p class="error">Ошибка. Логин или пароль не верны.</p>
            {% endif %}
        </td>
    </tr>
</table>

<form action="{% url django.contrib.auth.views.login %}" method="post">{% csrf_token %}
    <table align="center">
        <tr>
            <td><label for="username">Логин:</label></td>
            <td><input type="text" name="username" value="" id="username"></td>
        </tr>
        <tr>
            <td><label for="password">Пароль:</label></td>
            <td><input type="password" name="password" value="" id="password"></td>
        </tr>
        <tr>
            <td><input type="hidden" name="next" value="{{ next|escape }}" /></td>
            <td><input type="submit" value="Войти" /></td>
        </tr>
    </table>
</form>
</table>
{% endblock %}
