{% extends "base.html" %}

{% block title %}Блог Кропотова Александра [Веб разработка / Web Developer] | {{ post.title }}{% endblock %}

{% block menuTop %}
    {% include "menu/menu_top.html" %}
{% endblock %}

{% block menuLeft %}
    {% include "menu/menu_left.html" %}
{% endblock %}

{% block content %}
                <div class="hat">{{ post.title }}</div>
                <div class="blockText">
                    {{ post.content|safe }}
                    <div style="text-align:center; margin-bottom:5px;">
                        Добавил: {{ post.author }} Дата: {{ post.pub_date }}<br />
                        Раздел: {% for cat in post.categories.all %}<a href="/category/{{ cat.slug }}/">{{ cat.title }}</a> {% endfor %}<br />
                        Теги: {% for tag in post.tags.all %}<a href="/tag/{{ tag.slug }}/">{{ tag.title }}</a> {% endfor %}
                    </div>
                </div>
                <a name="comment">&nbsp;</a>
                {% for comment in coments reversed %}
                <div class="commentBlock">
                    {{ comment.author }} {{ comment.pub_date }}<br />
                    <p>{{ comment.comment }}</p>
                </div>
                {% endfor %}
                {% if user.is_authenticated %}
                <p>
                <form action="" method="POST">{% csrf_token %}
                    <textarea rows="10" cols="60" name="text_comment"></textarea><br />
                    <input type="submit" value="Коментим">
                </form>
                </p>
                {% else %}
                <p><a class="submit" href="/accounts/login/">Чтобы коментировать нужно авторизироваться.</a></p>
                {% endif %}
    
{% endblock %}